@layer base {
  :root {
    --brand: 19 67% 26%;

    --foreground: 18 72% 7%;
    --background: 18 100% 98%;
    --primary: 20 66% 68%;
    --secondary: 20 66% 38%;

    &.dark {
      --foreground: 18 72% 93%;
      --background: 18 100% 2%;
      --primary: 20 66% 32%;
      --secondary: 20 66% 62%;
    }
  }
}
