/* @import "tailwindcss"; */
@theme {
  --color-brand: hsl(19 67% 26%);

  --color-foreground: hsl(18 72% 7%);
  --color-background: hsl(0 0% 98%);
  --color-primary: hsl(20 66% 68%);
  --color-secondary: hsl(20 66% 38%);

  /* &.dark {
    --color-foreground: 18 72% 93%;
    --color-background: 18 100% 2%;
    --color-primary: 20 66% 32%;
    --color-secondary: 20 66% 62%;
  } */
}
