@theme {
  --color-brand: hsl(19 67% 26%);
  --color-foreground: var(--theme-color-foreground);
  --color-background: var(--theme-color-background);
  --color-primary: var(--theme-color-primary);
  --color-secondary: var(--theme-color-secondary);
}

@layer base {
  :root {
    --theme-color-foreground: hsl(18 72% 7%);
    --theme-color-background: hsl(0 0% 98%);
    --theme-color-primary: hsl(20 66% 68%);
    --theme-color-secondary: hsl(20 66% 38%);
  }

  .dark {
    --theme-color-foreground: hsl(18 72% 93%);
    --theme-color-background: hsl(18 100% 2%);
    --theme-color-primary: hsl(20 66% 32%);
    --theme-color-secondary: hsl(20 66% 62%);
  }
}
