@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap");

@import "$lib/styles/tailwind.css";
@import "$lib/styles/scrollbars.css";

/*
  TODO: move this red-link stuff to somewhere better
*/
.prose {
  a.red-link {
    @apply text-red-600 dark:text-red-500;
  }

  ruby > rt {
    @apply tracking-widest;

    font-size: 80%;
    opacity: 60%;
    font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
  }
}

/* https://tailwindcss.com/docs/using-with-preprocessors#using-post-css-as-your-preprocessor */
